/* ================================
   ESTILOS PARA EL EXPLORADOR XP
=================================*/

.explorer-folder {
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.explorer-folder:hover {
  background: #c7daf8;
}

.folder-icon {
  width: 20px;
  height: 20px;
  background: url('../assets/icon/folder.png');
  background-size: cover;
}

.explorer-list {
  padding: 10px;
  font-size: 14px;
}

.explorer-back {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  background: #e3edff;
  border: 1px solid #8aa7d6;
  width: 90px;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
}

.explorer-back:hover {
  background: #d1e2ff;
}

/* Video Player */
.video-player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.video-player video {
  width: 100%;
  height: auto;
}


.window[data-app="explorer"] {
  width: 600px;
  height: 400px;
}
