
#signup-pantalla{
    background: #00349f;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    display: none;
}

#signup-pantalla > div:nth-child(1){
    background-image: linear-gradient(to right bottom, #97b8f9, #84a7ee, #7296e3, #5f85d7, #4c74cc);
    width: 100%;
    height: 75vh;
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#si-pb{
    width: 20vh;
    height: 4vh;
    display: flex;
    position: relative;
    left: 2vh;
    top: 16vh;
}

#si-shut-down{
    height: 2.5vh;
    width: 2.5vh;
    background: url('../images/turnoff.png');
    background-size: cover;
    cursor: pointer;
}

#si-pb > p{
    font-size: 1.6vh;
    color: white;
    font-weight: 500;
    margin: 0.4vh 0 0 0.5vh;
}

#user{
    display: flex;
    flex-direction: row;
    width: 20vh;
    
    

}

.username{

}


.linea{
    position: absolute;
    height: 0.3vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
    top: 0;
}

.amarilla{
    top: 75vh;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,175,0,1) 49%, rgba(255,175,0,1) 51%, rgba(255,255,255,0) 100%);
}
